.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 400px; /* عرض مدال */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 5px #ccc;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #5a9bd5;
  box-shadow: 0 5px #999;
  transform: translateY(-3px);
}

button:first-of-type {
  margin-right: 10px;
}

button:last-of-type {
  margin-left: 10px;
}
